.main-chat
  .header
    .header__left
      .header__left--name
        グループ名
      .header__left--member
        メンバー名
    .header__right
      = link_to 'Edit', '#',class: "edit"

  .message__list
    .message__list__post
      .message__list__post--name
        masa
      .message__list__post--time
        2020/05/20(Wed) 20:09:03
    .message__list__text
      メッセージ
      
  .form
    %form.new_message
      .input-box
        %input{type: "text",class: "input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image--file"}
      %input{type: "submit", class: "submit-btn"}

