.message__list__post{data: {message: {id: message.id}}}
  .message__list__post--name
    = message.user.name
  .message__list__post--time
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.message__list__text
  - if message.content.present?
    %p.lower-message__content
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?