.side-bar
  .user__name

    .top__items
      .top__items__name
        masa
      .top__items__icons
        =link_to "##" do
          =icon('far','edit', class: "icons--btn")

        =link_to "#" do
          =icon('fas','cog', class: "icons--btn" )

  .group__list
    .group
      .group__name
        グループ名
      .group__text
        メッセージ