.side-bar
  .user__name

    .top__items
      .top__items__name
        = current_user.name
      .top__items__icons
        =link_to "##" do
          =icon('far','edit', class: "icons--btn")

        =link_to edit_user_path(current_user) do
          =icon('fas','cog', class: "icons--btn" )

  .group__list
    .group
      .group__name
        グループ名
      .group__text
        メッセージ