.side-bar
  .user__name

    .top__items
      .top__items__name
        = current_user.name
      .top__items__icons
        =link_to new_group_path do
          =icon('far','edit', class: "icons--btn")

        =link_to edit_user_path(current_user) do
          =icon('fas','cog', class: "icons--btn" )

  .group__list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__text
            メッセージ